<!DOCTYPE HTML>
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation" ng-controller="op-nav-control">
		<div class="container">
		<ul class="nav navbar-nav">
			<li>
				<a href="/">Home</a>
			</li>

			<li>
				<a href="News">News</a>
			</li>
			<li>
				<a href="Contact">Contact</a> 
			</li>
		</ul>
	</div>
	</div>
