<!DOCTYPE HTML>
	<div ng-controller="op-nav-control">
                <img src="img/side_00.png" id="side_1">
                <nav class="container">
                    <a href="/"><img src="img/side_01.png" id="side_2"></a>
                    <a href="News"><img src="img/side_02.png" id="side_3"></a>
                    <a href="Contact"><img src="img/side_03.png" id="side_4"></a>
                </nav>
	</div>
