<!DOCTYPE HTML>
<h1>Muqq Operation Platform</h1>
<div ng-controller="op-home-control">
  <div id="user-status" style="display:none">
    <h2>Account : {{userid}} </h2>
    <h2>Role : {{role}} </h2>
  </div>
</div>
