<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mobby</title>
        <link rel="Shortcut Icon" href="img/icon.jpg">
        <link rel="stylesheet" href="css/home.css">

        <script src="/js/muqq.js"></script>
        <script src='/js/livereload.js'></script>

    </head>
    <body id="homeBody">
        <a id="a_1" href="News">
            <img id="Img_2" src="img/logo_0.png"> 
        </a>
    </body>
</html>